<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Responsive Bootstrap Advance Admin Template</title>
<!-- BOOTSTRAP STYLES-->
<link href="<?php echo VIEW;?>assets/css/bootstrap.css" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="<?php echo VIEW;?>assets/css/font-awesome.css" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body style="background-color: #E2E2E2;">
    <div class="container">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="<?php echo VIEW;?>assets/img/logo-invoice.png" />
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel-body">
                    <form role="form">
                        <hr />
                        <h5>Enter Details to Login</h5>
                        <br />
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                            <input name="username" type="text" class="form-control" placeholder="Your Username " />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                            <input name="passwd" type="password" class="form-control"  placeholder="Your Password" />
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input name="remember" type="checkbox" /> Remember me
                                <input name="remember" type="checkbox" checked="checked" hidden/>
                            </label>
                            <span class="pull-right">
                                <a href="#" >Forget password ? </a> 
                            </span>
                        </div>
                        <a id="submit" href="#" class="btn btn-primary ">Login Now</a>
                        <hr />
                        Not register ? <a href="index.html" >click here </a> or go to <a href="index.html">Home</a> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$('#submit').submitData(__url__('login','login'),function(re){
    if(re.state == 1)
        window.location.href = __url__('index','indexDo');
    else alert(re.msg);
});   
</script>
