<!DOCTYPE HTML>
<html>
<head>
    <title>About</title>
    <link href="<?php echo VIEW;?>css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="<?php echo VIEW;?>css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <meta name="keywords"
          content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <!--Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="<?php echo VIEW;?>js/move-top.js"></script>
    <script type="text/javascript" src="<?php echo VIEW;?>js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<?php template('div-header');?>
<!--header end here-->
<!--start-about-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <h3>A Few Words About Us</h3>
                <h5>Uspendisse laoreet nibh ac cursus vestibulum. Vestibulum eu arcu at justo tristique malesuada.
                    Aliquam erat volutpat. Vivamus condimentum feugiat magna</h5>
                <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orc i ac sem. Duis
                    ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut
                    tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                    Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
            </div>
            <div class="about-text">
                <div class="col-md-4 about-text-left">
                    <a href="single.html"><img src="<?php echo VIEW;?>images/ultra.jpg" alt=""></a>
                    <a href="single.html"><h5>Lorem ipsum dolor</h5></a>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et
                        dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
                </div>
                <div class="col-md-4 about-text-left">
                    <a href="single.html"><img src="<?php echo VIEW;?>images/a2.jpg" alt=""></a>
                    <a href="single.html"><h5>Our Capabilities</h5></a>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et
                        dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
                </div>
                <div class="col-md-4 about-text-left">
                    <a href="single.html"><img src="<?php echo VIEW;?>images/a3.jpg" alt=""></a>
                    <a href="single.html"><h5>Our Standards</h5></a>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et
                        dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-about-->
<!--start-team-->
<div class="team">
    <div class="container">
        <div class="team-main">
            <h3>Our Team</h3>
            <div class="team-top">
                <div class="col-md-4 team-top-left">
                    <img src="<?php echo VIEW;?>images/t1.jpg" src="">
                    <div class="team-details">
                        <h4>Mark Johnson</h4>
                        <P>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium.</P>
                    </div>
                </div>
                <div class="col-md-4 team-top-left">
                    <img src="<?php echo VIEW;?>images/t2.jpg" src="">
                    <div class="team-details">
                        <h4>Bradley Grosh</h4>
                        <P>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium.</P>
                    </div>
                </div>
                <div class="col-md-4 team-top-left">
                    <img src="<?php echo VIEW;?>images/t3.jpg" src="">
                    <div class="team-details">
                        <h4>Helen tompson</h4>
                        <P>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium.</P>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-team-->
<!--footer start here-->
<?php template('div-footer');?>
<!--footer end here-->
</body>