<head>
    <title>Home</title>
    <link href="<?php echo VIEW;?>css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- Custom Theme files -->
    <link href="<?php echo VIEW;?>css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header start here-->
<?php template('div-header');?>
<!--header end here-->
<!--banner strip start here-->
<script src="<?php echo VIEW;?>js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
            nav: true,
        });
    });
</script>
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <ul class="rslides" id="slider">
                <li>
                    <h3>Temporibus autem quibusdam</h3>
                    <p>We are Professional web developer Company</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Read More</a>
                    </div>
                </li>
                <li>
                    <h3>Lorem Ipsum simply dummy</h3>
                    <p>But this denouncing pleasure and praising</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Read More</a>
                    </div>
                </li>
                <li>
                    <h3>Nemo ipsam voluptatem</h3>
                    <p>We are Professional web developer Company</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Read More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-strip">
    <div class="container">
        <h3>We Work On Advertising For Internal And External Communications</h3>
        <div class="bann-strip-btn">
            <a href="#" class="hvr-shutter-out-horizontal">Read More</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--footer start here-->
<?php template('div-footer');?>
<!--footer end here-->
</body>