<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="探索者">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>php_HTML5_聊天室</title>
</head>
<style>
    div{
        border : yellow;
    }
</style>
<body>
<form action="">
    <div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div style="right: auto"></div>
    </div>
    <div>
        to : <input type="text" name="to_id"><br>
        说一句 : <input type="text" name="content"><br>
        <input id="say" type="button" value="说一句"><br>
        传图 : <input type="file" name="img"><br>
        <input id="img" type="button" value="发一图"><br>
    </div>
</form>

</body>
<script>
    function convertImgToBase64(url, callback, outputFormat) {
        var canvas = document.createElement('CANVAS'),
                ctx = canvas.getContext('2d'),
                img = new Image;
        img.crossOrigin = 'Anonymous';
        img.onload = function() {
            canvas.height = img.height;
            canvas.width = img.width;
            ctx.drawImage(img, 0, 0);
            var dataURL = canvas.toDataURL(outputFormat || 'image/png');
            callback.call(this, dataURL);
            canvas = null;
        };
        img.src = url;
    }
//convertImgToBase64('http://bit.ly/18g0VNp', function(base64Img){
//    // Base64DataURL
//});
    var ws = {};
    if(typeof(WebSocket)=='undefined'){
        alert('你的浏览器不支持 WebSocket ，推荐使用Google Chrome 或者 Mozilla Firefox');
    }else {
            ws = new WebSocket("ws://172.19.5.55:2345");
            ws.onopen = function() {
                alert("连接成功!");
            };
            ws.onmessage = function(e) {
                console.log(e);
            };
            ws.onclose = function(e) {
                alert("连接关闭!");
                console.log('收到服务端de claso');
            };
        $('#say').on('click',function(){
            var say = {};
            say.to_id = $('input[name=to_id]').val();
            say.content = $('input[name=content]').val();
            say.type = 0;
            ws.send(JSON.stringify(say));
        });
        $('#img').on('click',function(){
            var fd = new FormData();
            fd.append('to_id',$('input[name=to_id]').val());
            fd.append('type',1);
            fd.append('file_img',$('input[name=img]')[0].files[0]);

            var say = {};
            say.to_id = $('input[name=to_id]').val();
            say.type = 1;

            $.ajax({
                url:__url__('saveImg'),
                processData: false,
                contentType: false,
                data:fd,
                type:'post',
                dataType:'json',
                success:function(re){
                    say.content = re.data;
                    ws.send(JSON.stringify(say));
                }
            });

//            var reader = new FileReader();
//            reader.readAsBinaryString($('input[name=img]')[0].files[0]);
//            reader.onload=function(f){
//                say.content = this.result;
////                ws.send(JSON.stringify(say));;
//                ws.send(this.result);
//            };

        });
    }
</script>
</html>
