<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title>米骑</title>
</head>
<body>
<div class="main bluetooth">
    <div class="blue_ts">
        <h1>蓝牙未开启</h1>
        <p>在弹出的对话框中点击设置</p>
    </div>
    <button class="blue_btn">
        <span class="iconfont icon-lanya"></span>
        <p>点击开启</p>
    </button>

    <!--打开蓝牙提示弹窗- start-------------- --------------------->
    <div class="mcts" style="display:none;">
        <div class="blue_tooth_tc">
            <div class="tile">打开蓝牙来允许‘米骑’链接到设备</div>
            <div class="blue_btns clearfix">
                <div class="flt col-xs-6"><button class="btn">设置</button></div>
                <div class="frt col-xs-6"><button class="btn">好</button></div>
            </div>
        </div>
    </div>
    <!--打开蓝牙提示弹窗- end-------------- --------------------->
</div>
</body>
