<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="探索者">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>php_HTML5_聊天室</title>
</head>

<body>
<form action="">
    名字 : <input type="text" name="name">
    密码 : <input type="text" name="passwd">
    <input id="tijiao" type="button" value="登入聊天">
    <br>
    <br>
    <br>
    <div style="display:none;">
        说一句 : <input type="text" name="say">
        <input id="say" type="button" value="说一句">
    </div>
</form>

</body>
<script>
    var ws = {};
    if(typeof(WebSocket)=='undefined'){
        alert('你的浏览器不支持 WebSocket ，推荐使用Google Chrome 或者 Mozilla Firefox');
    }else {
        $('#tijiao').on('click', function() {
            ws = new WebSocket("ws://172.19.5.55:2345");
            ws.onopen = function() {
//                var obj = {};
//                obj.act = 'login';
//                obj.account = 'yyyy';
//                obj.passwd = '1233';
//                ws.send(JSON.stringify(obj));
        alert("连接成功!");
//        ws.send('tom');
//        alert("给服务端发送一个字符串：tom");
            };
            ws.onmessage = function(e) {
                console.log(e);
            };
            ws.onclose = function(e) {
                alert("连接关闭!");
                console.log('收到服务端de claso');
            };
        });
        $('#select').on('click',function(){
            ws.send('code:999');
        });
    }
</script>
</html>
