<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="探索者">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>php_HTML5_聊天室</title>
</head>

<body>
<form action="">

    <div >
        说一句 : <input type="text" name="content">
        to : <input type="text" name="to_id">
        <input id="say" type="button" value="说一句">
    </div>
</form>

</body>
<script>
    var ws = {};
    if(typeof(WebSocket)=='undefined'){
        alert('你的浏览器不支持 WebSocket ，推荐使用Google Chrome 或者 Mozilla Firefox');
    }else {
            ws = new WebSocket("ws://172.19.5.55:2345");
            ws.onopen = function() {
                alert("连接成功!");
            };
            ws.onmessage = function(e) {
                console.log(e);
            };
            ws.onclose = function(e) {
                alert("连接关闭!");
                console.log('收到服务端de claso');
            };
        $('#say').on('click',function(){
            var say = {};
            say.to_id = $('input[name=to_id]').val();
            say.content = $('input[name=content]').val();
            ws.send(JSON.stringify(say));
        });
    }
</script>
</html>
