<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title>米骑</title>
</head>
<body class="bg47">
<div class="history">
    <div class="date clearfix">
        <span class="flt">6月</span>
        <span class="frt">3.70公里</span>
    </div>
    <ul class="history-ul">
        <li class="clearfix">
            <label>13日下午</label>
            <div class="clearfix history_content">
                <div class="col-xs-6 flt">
                    <span class="iconfont icon-qixing flt"></span>
                    <span class="flt history_num"><span class="font_num">3.69</span>公里</span>
                </div>
                <div class="col-xs-6 frt">
                    <div class="frt"><span class="iconfont icon-jishi flt"></span>61'55"</div>
                    <div class="frt"><span class="iconfont icon-time-x flt"></span>03:58:40</div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <label>13日下午</label>
            <div class="clearfix history_content">
                <div class="col-xs-6 flt">
                    <span class="iconfont icon-qixing flt"></span>
                    <span class="flt history_num"><span class="font_num">3.69</span>公里</span>
                </div>
                <div class="col-xs-6 frt">
                    <div class="frt"><span class="iconfont icon-jishi flt"></span>61'55"</div>
                    <div class="frt"><span class="iconfont icon-time-x flt"></span>03:58:40</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="history">
    <div class="date clearfix">
        <span class="flt">5月</span>
        <span class="frt">3.70公里</span>
    </div>
    <ul class="history-ul">
        <li class="clearfix">
            <label>13日下午</label>
            <div class="clearfix history_content">
                <div class="col-xs-6 flt">
                    <span class="iconfont icon-qixing flt"></span>
                    <span class="flt history_num"><span class="font_num">3.69</span>公里</span>
                </div>
                <div class="col-xs-6 frt">
                    <div class="frt"><span class="iconfont icon-jishi flt"></span>61'55"</div>
                    <div class="frt"><span class="iconfont icon-time-x flt"></span>03:58:40</div>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
