<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <script type="text/javascript" src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>
    <title>米骑</title>
</head>
<script>
    wx.config({
        beta: true, // 开启内测接口调用，注入wx.invoke方法,非常重要!!必须有这个
        debug: true,//开启调试接口，alert运行结果
        appId: appId,//必填，公众号的唯一标识,
        timestamp: timestamp,//必填，生成签名的时间戳
        nonceStr: nonceStr,//必填，生成签名的随机串
        signature: signature,//必填，签名，见附录1
        jsApiList: [
            'getLocation',
            'openLocation',
            'openWXDeviceLib',
            'sendDataToWXDevice'
        ]//要调用的js函数，必须把函数名字写入数组
    });
    wx.ready(function(){
//        // 初始化设备库函数
//        wx.invoke('openWXDeviceLib', {}, function(res){
//            alert(res.err_msg);
//        });
//        var data={"deviceId": '微信给你的设备id',"base64Data": '你要发送的数据'};
//        // 发送设置命令
//        wx.invoke('sendDataToWXDevice', data, function(res){
//            //回调
//        });

        wx.getLocation({
            timestamp: timestamp, // 位置签名时间戳，仅当需要兼容6.0.2版本之前时提供
            nonceStr: nonceStr, // 位置签名随机串，仅当需要兼容6.0.2版本之前时提供
            addrSign: addrSign, // 位置签名，仅当需要兼容6.0.2版本之前时提供，详见附录4
            success: function (res) {
                var longitude = res.longitude; // 纬度，浮点数，范围为90 ~ -90
                var latitude = res.latitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度

                wx.openLocation({
                    latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
                    longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
                    name: '', // 位置名
                    address: '', // 地址详情说明
                    scale: 1, // 地图缩放级别,整形值,范围从1~28。默认为最大
                    infoUrl: '', // 在查看位置界面底部显示的超链接,可点击跳转
                    success: function (res) {
                        console.log(res);
                    }
                });

            }
        });
    });
</script>
<body>
<div class="main bluetooth">
    <div class="blue_ts">
        <h1>正在搜索自能把立</h1>
        <p>请将手机贴近把立</p>
    </div>
    <div class="search_main">
        <div class="search_num"></div><!--正在搜索时添加class【radius_animent】  搜索完成 再删除该class-->
        <div class="search_md font_num">0</div>
    </div>

    <!--打开蓝牙提示弹窗- start-------------- --------------------->
    <div class="mcts" style="display:none;">
        <div class="blue_tooth_tc">
            <div class="tile">未发现把立，请确保把立有点并且贴近手机</div>
            <div class="blue_btns clearfix">
                <div class="flt col-xs-6"><button class="btn">暂不绑定</button></div>
                <div class="frt col-xs-6"><button class="btn">重试</button></div>
            </div>
        </div>
    </div>
    <!--打开蓝牙提示弹窗- end-------------- --------------------->
</div>
</body>