<head>
    <title>框架</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="<?php echo VIEW;?>css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo VIEW;?>css/bootstrap-theme.min.css">
    <script type="text/javascript" src="<?php echo VIEW;?>js/bootstrap.min.js"></script>
</head>
<body>
<form action="">

    account : <input type="text" name="account"><br>
    passwd : <input type="passwd" name="passwd"><br>
    <img  alt=""> 点击刷新<br>
    验证码: <input type="text" name="yzm"><br>
    <input id="login" type="button" value="登入"><br>
    <input id="reg" type="button" value="注册"><br>
</form>
</body>
<script>
    $('img').prop('src',__url__('yzm'));
    $('img').on('click',function(){
        $(this).prop('src',__url__('yzm'));
    });
    $('#reg').submitData('reg',function(re){
        console.log(re);
    });
    $('#login').submitData('login',function(re){
        console.log(re);
        if(re.state == 1)
            window.location.href = __url__('index','index','indexDo');
    });
</script>
