<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title>米骑</title>
</head>
<body>
<div class="sign_in">
    <div class="sign_box">
        <button onclick="window.location.href=__url__('index','login','indexDo');"><span class="iconfont icon-weixin"></span>微信登录</button>
        <!--<div class="other_sign clearfix">-->
            <!--<span class="flt"><a href="javascript:window.location.href=__url__('index','tellogin','indexDo');">手机登录</a></span>-->
            <!--<span class="frt"><a href="javascript:window.location.href=__url__('index','reg','indexDo');">手机注册</a></span>-->
        <!--</div>-->
    </div>
</div>
</body>