<head>
    <title>框架</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="<?php echo VIEW;?>css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo VIEW;?>css/bootstrap-theme.min.css">
    <script type="text/javascript" src="<?php echo VIEW;?>js/bootstrap.min.js"></script>
</head>
<body>
<input type="button" value="微信登入" onclick="window.location.href=__url__('index','login','indexDo');">
<input type="button" value="电话登入" onclick="window.location.href=__url__('index','tellogin','indexDo');">
<input type="button" value="电话注册" onclick="window.location.href=__url__('index','reg','indexDo');">
</body>
<script>

</script>
