<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title>米骑</title>
</head>
<body>
<div class="main sign_in">
    <div class="phone_sign clearfix">
        <header class="miqi_head">
            <div class="col-xs-1 flt"><span class="iconfont icon-left"></span></div>
            <div class="col-xs-10 flt text-cen">手机注册</div>
            <div class="col-xs-1 flt"></div>
        </header>
        <div class="phone_sign_ipt clearfix register">
            <ul class="clearfix">
                <li class="clearfix">
                    <div class="col-xs-1 flt text-cen"><span class="iconfont icon-shouji"></span></div>
                    <div class="col-xs-11 flt"><input type="text" placeholder="请输入账号" maxlength="11"/></div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-1 flt text-cen"><span class="iconfont icon-yaoshi"></span></div>
                    <div class="col-xs-8 flt"><input type="text" placeholder="请输入验证码"/></div>
                    <div class="col-xs-3 flt"><button id="duanxin" class="btn2 yzmbtn">获取验证码</button></div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-1 flt text-cen"><span class="iconfont icon-mima"></span></div>
                    <div class="col-xs-11 flt"><input type="text" placeholder="请输入密码"/></div>
                </li>
            </ul>
            <div class="clearfix">
                <button class="btn2 phone_sign_btn">注册</button>
            </div>
            <p class="have">已注册米骑？点击<a href="javascript:window.location.href=__url__('index','nologin','indexDo');">登录</a></p>
        </div>
    </div>
</div>
</body>
<script>
    $('#duanxin').on('click',function(){
        $.ajax({
            url:__url__('message'),
            type:'post',
            data:{'tel':$('#tel').val()},
            dataType:'json',
            success:function(re){
                console.log(re);
            }
        })
    })
</script>