<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title></title>
</head>
<body>
<div class="main cycling">
    <div class="font_num all_cycling">12.84</div>
    <p class="text-cen cycline_unit">骑行总里程（公里）</p>
    <div class="clearfix classify">
        <ul class="li-ft clearfix">
            <li class="col-xs-6">
                <span class="font_num">0.3</span>小时
                <p>累计用时</p>
            </li>
            <li class="col-xs-6">
                <span class="font_num">2</span>次
                <p>累计次数</p>
            </li>
        </ul>
        <ul class="li-ft clearfix">
            <li class="col-xs-6">
                <span class="font_num">15</span>（公里/时）
                <p>最高速度</p>
            </li>
            <li class="col-xs-6">
                <span class="font_num">25</span>
                <p>最高踏频</p>
            </li>
        </ul>
    </div>
    <button class="btn history_btn">
        <span class="iconfont icon-jilu"></span>
        历史记录
    </button>
</div>
</body>