<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?php echo VIEW;?>css/style.css" />
    <link rel="stylesheet" href="<?php echo VIEW;?>css/iconfont.css" />
    <title>米骑</title>
</head>
<body>
<div class="main sign_in">
    <div class="phone_sign clearfix">
        <header class="miqi_head">
            <div class="col-xs-1 flt"><span class="iconfont icon-left"></span></div>
            <div class="col-xs-10 flt text-cen">手机登录</div>
            <div class="col-xs-1 flt"></div>
        </header>
        <div class="phone_sign_ipt clearfix">
            <ul class="clearfix">
                <li class="clearfix">
                    <div class="col-xs-1 flt text-cen"><span class="iconfont icon-shouji"></span></div>
                    <div class="col-xs-11 flt"><input type="text" placeholder="请输入账号" maxlength="11"/></div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-1 flt text-cen"><span class="iconfont icon-mima"></span></div>
                    <div class="col-xs-11 flt"><input type="text" placeholder="请输入密码"/></div>
                </li>
            </ul>
            <div class="clearfix rg_fgtpswd">
                <span class="flt"><a href="javascript:window.location.href=__url__('index','reg','indexDo');">注册</a></span>
                <span class="frt"><a href="javascript:window.location.href=__url__('index','forgot','indexDo');">找回密码</a></span>
            </div>
            <div class="clearfix">
                <button class="btn2 phone_sign_btn">登录</button>
            </div>
        </div>
    </div>
</div>
</body>
