<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Red Top Template - Homepage</title>
    <meta name="keywords"
          content="free web templates, red top, vertical menu with icons, CSS, HTML, flash bar slider, animated"/>
    <meta name="description"
          content="Red Top is a free web template from www.17sucai.com for everyone. Vertical main menu is integrated with icons. Homepage features Flash Bar Slider."/>
    <link href="<?php echo VIEW;?>css/templatemo_style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="<?php echo VIEW;?>js/jquery-1.11.3.min.js"></script>