<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
</head>
<body>
<form action="" id="ew">


<form id="form!!!" action="">
    <div>
        <input type="text" name="name" value="test" >
        <input type="password" name="passwd" value="test" >
        <input type="text" name="age" value="12" >
        <input type="text" name="tel" value="13324422424" >
        <input type="file" name="f11" >
        <input type="file" name="f22" >
        <input type="radio" name="sex" value="nan" >
        <input type="radio" name="sex" value="lv" >
        <input type="radio" name="sex" value="other" >
        <input type="checkbox" name="checkbox" value="1" >
        <input type="checkbox" name="checkbox" value="2" >
        <input type="checkbox" name="checkbox" value="3" >
        <input type="checkbox" name="checkbox" value="4" >
        <input type="checkbox" name="checkbox" value="5" >
        <input type="checkbox" name="checkbox" value="other" >
        <input type="text" name="checkbox3" value="checkbox-other" >
        <input type="checkbox" name="checkbox2" value="5" >
        <input type="checkbox" name="checkbox2" value="6" >
        <select name="t1"><option value="1"/>1<option value="2"/>2<option value="3"/>3</select>
        <select name="t2"><option value="1"/>1<option value="2"/>2<option value="3"/>3</select>
        <select name="t3"><option value="1"/>1<option value="2"/>2<option value="3"/>3</select>
        <textarea  id="" cols="30" rows="10" name="textarea1">11111111111</textarea>
        <textarea id="" cols="30" rows="10" name="textarea2">222222222222</textarea>
        <input type="button" value="test" onclick="test();">
        <div  style="width:800px;height:1028px;"></div>
        <input type="button" value="test" onclick="test();">
        <div  style="width:800px;height:1028px;"></div>
        <input type="button" value="test" onclick="test();">
    </div>
</form>
</form>
<form id="form!!1231" action="">
    <div>
        <input id="ttt" type="button" value="test" onclick="test();">
        <div  style="width:800px;height:1028px;"></div>
        <input type="button" value="test" onclick="test();">
        <div  style="width:800px;height:1028px;"></div>
        <input type="button" value="test" onclick="test();">
    </div>
</form>
<!--<input type="button" value="test" onclick="test();">-->
<!--<div  style="width:800px;height:1028px;"></div>-->
<!--<input type="button" value="test" onclick="test();">-->
<!--<div  style="width:800px;height:1028px;"></div>-->
<!--<input type="button" value="test" onclick="test();">-->

</body>
<script>
    $("input[type=button]").submitData('test',function(re){
        console.log(re);
    });
    var test = function(){
//        sendAjax()
//        $.ajax({
//            url:__url__('test'),
//            data:{'test':'test','type':'put'},
//            type:'put',
//            dataType:'json',
//            success:function(re){
//                console.log(re);
//            }
//        })
    }
    //$(document).ajaxStart(function(){
//    $("#PHP_fullMask").css("display","block");
    //}).ajaxComplete(function(){
    //    $("#PHP_fullMask").css("display","none");
    //});
</script>
</html>