<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>123</title>
    <?php echo JQUERY;?>
</head>
<body>
<input type="button" value="test" onclick="test();">
<div  style="width:800px;height:1028px;"></div>
<input type="button" value="test" onclick="test();">
<div  style="width:800px;height:1028px;"></div>
<input type="button" value="test" onclick="test();">

</body>
<script>
    var test = function(){
        $.ajax({
            url:__url__('test1'),
            dataType:'json',
            success:function(re){
                console.log(re);
            }
        })
    }
    //$(document).ajaxStart(function(){
//    $("#PHP_fullMask").css("display","block");
    //}).ajaxComplete(function(){
    //    $("#PHP_fullMask").css("display","none");
    //});
</script>
</html>