<div class="header">
    <div class="container">
        <div class="header-main">
            <div class="logo">
                <a href="index.html"> <img src="<?php echo VIEW;?>images/logo.png" alt="" title=""> </a>
            </div>
            <div class="head-right">
                <div class="top-nav">
                    <span class="menu"> <img src="<?php echo VIEW;?>images/icon.png" alt=""/></span>
                    <ul id="div-header-menu" class="res">
                        <li><a name="index">主页</a></li>
                        <li><a name="about" >项目展示</a></li>
                        <li><a name="blog">业务能力</a></li>
                        <li><a name="contact">关于我们</a></li>
                        <div class="clearfix"></div>
                    </ul>
                    <!-- script-for-menu -->
                    <script>
                        $("span.menu").click(function () {
                            $("ul.res").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- /script-for-menu -->
                </div>
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- search-scripts -->
                <script src="<?php echo VIEW;?>js/classie.js"></script>
                <script src="<?php echo VIEW;?>js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#div-header-menu>li>a').each(function(e){
        $(this).prop('href','?'+path+'=www/'+$(this).attr('name')+'/indexDo');
    });
    $('#div-header-menu>li>a[name='+contr+']').addClass('active');
});
</script>