<nav id='menu' class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="<?php echo !empty($_SESSION['admin']['img'])?$_SESSION['admin']['img']:(VIEW.'assets/img/user.png');?>" class="img-thumbnail" />
                    <div class="inner-text">
                        <?php echo $_SESSION['admin']['nickname'] ;?>
                        <br />
                        <small>Last Login : <?php echo obj('tool')->friendlyDate($_SESSION['admin']['last_login_time']);?></small>
                    </div>
                </div>

            </li>
            <li>
                <a id='index' href="#"><i class="fa fa-dashboard "></i>HOME 管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop "></i>ARTICLE 管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id='test1' href="#"><i class="fa fa-toggle-on"></i>第一类文章</a>
                    </li>
                    <li>
                        <a id='test2' href="#"><i class="fa fa-bell "></i>第二类文章</a>
                    </li>
                    <li>
                        <a id='test3' href="#"><i class="fa fa-circle-o "></i>第三类文章</a>
                    </li>
                    <li>
                        <a id='test4' href="#"><i class="fa fa-code "></i>第四类文章</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop "></i>NOTICE 管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id='test1' href="#"><i class="fa fa-toggle-on"></i>第一类公告</a>
                    </li>
                    <li>
                        <a id='test2' href="#"><i class="fa fa-bell "></i>第二类公告</a>
                    </li>
                    <li>
                        <a id='test3' href="#"><i class="fa fa-circle-o "></i>第三类公告</a>
                    </li>
                    <li>
                        <a id='test4' href="#"><i class="fa fa-code "></i>第四类公告</a>
                    </li>
                </ul>
            </li>
<!--            <li>
                <a href="#"><i class="fa fa-yelp "></i>Extra Pages <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="invoice.html"><i class="fa fa-coffee"></i>Invoice</a>
                    </li>
                    <li>
                        <a href="pricing.html"><i class="fa fa-flash "></i>Pricing</a>
                    </li>
                    <li>
                        <a href="component.html"><i class="fa fa-key "></i>Components</a>
                    </li>
                    <li>
                        <a href="social.html"><i class="fa fa-send "></i>Social</a>
                    </li>

                    <li>
                        <a href="message-task.html"><i class="fa fa-recycle "></i>Messages & Tasks</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="table.html"><i class="fa fa-flash "></i>Data Tables </a>

            </li>
            <li>
                <a href="#"><i class="fa fa-bicycle "></i>Forms <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="form.html"><i class="fa fa-desktop "></i>Basic </a>
                    </li>
                    <li>
                        <a href="form-advance.html"><i class="fa fa-code "></i>Advance</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
            </li>
            <li>
                <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
            </li>
            <li>
                <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id='SecondLevelLink' href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a id='SecondLevelLink2' href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a id='ThirdLevelLink' href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                            </li>
                            <li>
                                <a id='ThirdLevelLink2' href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
            </li>-->
        </ul>
    </div>
</nav>
<script>
    $(document).ready(function(){
        // 自动展开对应分类
        var menu = $('#menu a[id='+contr+']');
        menu.addClass('active-menu');
        menu.parent().parent().prev().addClass('active-menu-top');
        menu.parent().parent().parent().addClass('active');
        menu.parent().parent().parent().parent().parent().addClass('active');
        // 绑定跳转
        $('#menu a').on('click', function(){
            if($(this).attr('id') != undefined)
                window.location.href = __url__('admin',$(this).attr('id'), 'indexDo' );
//                console.log(__url__('admin',$(this).attr('id'), 'indexDo' ));
        });
    })
</script>