@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont { 
  font-family:"iconfont" !important; 
  font-size:1.8rem; 
  font-style:normal; 
  -webkit-font-smoothing: antialiased; 
  -webkit-text-stroke-width: 0.2px; 
  -moz-osx-font-smoothing: grayscale; 
} 
.icon-weixin:before { content: "\e600"; color: #b6b6b6;}     /*微信*/  
.icon-time-s:before { content: "\e601"; color: #b6b6b6;}     /*时间 实*/  
.icon-left:before { content: "\e602"; color: #fff;}     /*左*/  
.icon-time-x:before { content: "\e603"; color: #b6b6b6;}     /*时间 线*/  
.icon-jilu:before { content: "\e604"; color: #b6b6b6;}     /*历史记录*/  
.icon-richeng:before { content: "\e605"; color: #b6b6b6;}     /*日程安排*/  
.icon-kaluli:before { content: "\e606"; color: #b6b6b6;}     /*卡里路*/  
.icon-mima:before { content: "\e607"; color: #b6b6b6;}     /*密码*/  
.icon-lanya:before { content: "\e608"; color: #b6b6b6;}     /*蓝牙*/  
.icon-qiche-x:before { content: "\e609"; color: #b6b6b6;}     /*骑车 细*/  

.icon-yaoshi:before { content: "\e60a"; color: #b6b6b6;}     /*钥匙*/  
.icon-shouji:before { content: "\e60b"; color: #b6b6b6;}     /*手机*/  
.icon-shijian-a:before { content: "\e60c"; color: #b6b6b6;}     /*时间 按*/  
.icon-jishi:before { content: "\e60d"; color: #b6b6b6;}     /*计时*/  
.icon-licheng:before { content: "\e60e"; color: #b6b6b6;}     /*里程*/  
.icon-qiche-c:before { content: "\e60f"; color: #b6b6b6;}     /*骑车 粗*/  

.icon-sude:before { content: "\e610"; color: #b6b6b6;}     /*速度计*/ 
.icon-qixing:before { content: "\e611"; color: #b6b6b6;}     /*骑行 实*/ 








/*<span class="iconfont icon-back"></span>*/